section.quotes h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

section.quotes p {
    font-size: 35px;
}

#quote {
    background-color: blue;
    color: white;
    padding: 40px 80px;
    transition: all 0.5s;
}

#quote:hover {
    background-color: green;
}
p.quote {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

h2.author {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}